body{
    margin: 0;
    background-color: #F65E01;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    background-color: #01207d;
    border-radius: 50%;
    color: #FFF103;
    font-size: 36pt;
    font-weight: bold;
    font-family: sans-serif;
}

#mesa{
    width: 100vw;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mesa img{
    transform: scale(0.7);
}

#acoes{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    background-color: #01207d;
    color: #FFF103;
    border: none;
    transform: scale(1.5);
    margin: 0 20px;
}

#acoes p{
    font-size: 36pt;
    font-family: sans-serif;
}



/* Laranja: F65E01
   Azul: 0071c5*/